<div class="input-group">
	<input type="text" class="form-control input-sm"
		   data-ng-model="item"
		   data-ng-keypress="handleInputKeypress($event)"
		   placeholder="{{placeholder}}"/>
	<!-- Add button -->
	<span class="input-group-btn">
		<button class="btn btn-default btn-sm" type="button"
				data-ng-disabled="isAddDisabled(item)"
				data-ng-click="addItem(item)">
			<i class="fa fa-plus"></i> {{buttonText}}
		</button>
	</span>
</div>
<div>
	<ul class="items inline">
		<li data-ng-repeat="item in items track by $index">
			<div class="item">
				<div class="item-label hideOverflow">{{item}}</div>
				<div class="item-delete"><a data-ng-click="deleteItemFn($index)" class="no-href danger btn-icon btn-xs"><i
						class="fa fa-trash-o"></i></a></div>
				<br style="clear:both;"/>
			</div>
		</li>
	</ul>
	<br style="clear:both;"/>
</div>