<div class="col-md-12 input-group" data-ng-show="!readonly">
	<input type="text"
	       placeholder="{{placeholder}}"
	       class="form-control input-sm"
	       data-ng-model="queryString" 
	       data-typeahead="allowed for allowed in allowedValues | filter:$viewValue"
	       data-typeahead-on-select='addToQuerySelect($item)'
	       data-ng-keypress="addToQueryKeypress($event)"/>
</div>
<div>
	<ul class="items inline">
		<li data-ng-repeat="item in items">
			<div class="item">
				<div class="item-label hideOverflow">{{item}}</div>
				<div class="item-delete" data-ng-show="!readonly"><a data-ng-click="removeFromQuery(item)" class="no-href danger btn-icon btn-xs"><i class="fa fa-trash-o"></i></a></div>
				<div class="item-label" data-ng-show="readonly"><i class="fa fa-camera-retro"></i></div>
				<br style="clear:both;"/>
			</div>
		</li>
	</ul>
	<br style="clear:both;"/>
</div>
