<div>
	<textarea class="form-control"
		data-ng-list
		data-ng-attr-placeholder="{{placeholder}}"
		data-ng-required='{{required}}'
		data-ng-model="items"
		data-ng-attr-rows="{{rows}}"></textarea>
</div>
<div>
	<ul class="items inline">
		<li data-ng-repeat="item in items track by $index">
			<div class="item">
				<div class="item-label hideOverflow">{{item}}</div>
				<div class="item-delete"><a data-ng-click="deleteItemFn($index)" class="no-href danger btn-icon btn-xs"><i class="fa fa-trash-o"></i></a></div>
				<br style="clear:both;"/>
			</div>
		</li>
	</ul>
	<br style="clear:both;"/>
</div>