<!-- Sorting/Paging Controls -->
<div data-ng-if="totalSize > 0 || (totalSize == null && (currentSize > 0) || pageNumber != 0)">

	<span data-ng-if="showSortingControls" style="display: inline-block">
		<a type="button" class="no-href btn-link" data-tooltip="Newest on Top" data-ng-hide="sortdir==='DESC'" data-ng-click="sort('DESC')"><i class="fa fa-sort-amount-desc"></i></a>
		<a type="button" class="no-href btn-link" data-tooltip="Oldest on Top" data-ng-hide="sortdir==='ASC'" data-ng-click="sort('ASC')"><i class="fa fa-sort-amount-asc"></i></a>
	</span>

	<span class="pager-controls">
		<!-- Count message -->
		<span class="pager-status">
			{{startFormatted}} - {{endFormatted}} of {{totalFormatted}}
			<i style="color: #ffbd5c" class="fa fa-warning"
			   data-ng-if="showCountWarning"
			   data-tooltip="{{ countWarningMessage }}"
			></i>
		</span>

		<!-- Paging controls -->
		<a type="button" class="no-href btn-link"
		   data-ng-show="totalPages > 1"
		   data-ng-click="goToPage(0)">
			<i class="fa fa-angle-double-left"></i>
		</a>
		<a type="button" class="no-href btn-link"
		   data-ng-show="totalPages > 1"
		   data-ng-click="goToPage(pageNumber - 1)">
			<i class="fa fa-angle-left"></i>
		</a>
		<a type="button" class="no-href btn-link"
		   data-ng-show="totalPages > 1 && (pageNumber + 1) < totalPages && currentSize === pageSize"
		   data-ng-click="goToPage(pageNumber + 1)">
			<i class="fa fa-angle-right"></i>
		</a>
		<a type="button" class="no-href btn-link"
		   data-ng-show="totalPages > 1 && (pageNumber + 1) < totalPages && currentSize === pageSize"
		   data-ng-click="goToPage(totalPages - 1)"
		   data-ng-if="!disableGoToEnd">
			<i class="fa fa-angle-double-right"></i>
		</a>
	</span>

</div>