@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.word-wrap {
	word-wrap: break-word;
}

.column-label {
	margin-right: 5px;
}

.column-option {
	margin-right: 10px;
}

.column-option input[type=checkbox] {
	margin-right: 3px;
}