<section>

	<a class="back-link" data-ui-sref="group.list"><i class="fa fa-angle-double-left"></i> Back to Groups</a>

	<h3 class="page-header">
		Manage 
		<small data-ng-show="group.title"> {{group.title}}</small>
	</h3>

	<!-- Alert Notifications -->
	<div data-alert data-ng-repeat="alert in alertService.alerts" data-type="{{alert.type}}" data-close="alertService.clear($index)">{{alert.msg}}</div>

	<div class="row">
		<div class="col-md-12">

			<script type="text/ng-template" id="userTemplate.html">
				<a><span data-ng-bind-html="match.model | userTypeaheadFilter | typeaheadHighlight:query"></span></a>
			</script>

			<!-- Adding new users -->
			<div class="input-group">

				<!-- typeahead control -->
				<input id="user" type="text" class="form-control input-sm" placeholder="Search for a User..."
				       data-ng-model="user"
				       data-typeahead="user for user in searchUsers($viewValue) | orderBy:'displayName':true"
				       data-typeahead-input-formatter="$model | userTypeaheadFilter"
				       data-typeahead-template-url="userTemplate.html" 
				       data-typeahead-editable="false"
				       data-typeahead-min-length="2"
				       data-typeahead-wait-ms="300"
				       data-ng-keypress="addUserKeypress($event)">

				<!-- Add button -->
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button"
					        data-ng-disabled="user == null || !user.username" 
					        data-ng-click="addUser(user)">
						<i class="fa fa-user-plus"></i> Add User to Group
					</button>
				</span>

			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<!-- Sorting/Paging Controls -->
			<div data-ng-show="members.results.totalSize > 0">
				<div class="controls" style="float:left;">
					<span>Sort By:</span>
					<a style="padding: 0 6px 0 6px;" data-ng-class="{selected: members.options.sort===members.sort.name}" class="no-href btn-link" data-ng-click="setSort(members.sort.name)">Name</a> /
					<a style="padding: 0 6px 0 6px;" data-ng-class="{selected: members.options.sort===members.sort.username}" class="no-href btn-link" data-ng-click="setSort(members.sort.username)">Username</a>
				</div>
				<div class="controls pull-right">
					<div data-asy-pager
					     data-page-number="members.results.pageNumber"
					     data-page-size="members.results.pageSize"
					     data-total-size="members.results.totalSize"
					     data-max-page-size="50"
					     data-current-size="members.results.elements.length"
					     data-on-change="goToPage(pageNumber)">
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="row">
		<div class="col-md-12">

			<div class="col-md-6 col-md-offset-3 text-center" data-ng-hide="members.results.totalSize > 0">
				<h4>
					No Users?<br/>
					<small>
						Either there were no Users that matched your search or there aren't any users in the system that aren't already in this group.<br/>
						Read our <a data-ui-sref="help.groups">group help page</a> for more details.
					</small>
				</h4>
			</div>

			<table class="asymmetrik table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Name</th>
						<th>Username</th>
						<th>Active</th>
						<th>Bypassed</th>
						<th>Roles <span data-asy-help="groups/roles"></span></th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="user in members.results.elements">

						<!--  Remove Button -->
						<td style="width:110px;">
							<div class="pull-left">
								<button type="button" class="btn btn-danger btn-sm"
								        data-ng-disabled="!userState[user._id].explicit" data-ng-click="removeUser(user)">
									<i class="fa fa-user-times"></i> Remove
								</button>
							</div>
						</td>

						<!-- Name -->
						<td>
							<div class="hideOverflow" style="max-width: 200px;">{{user.name}}</div>
						</td>

						<!-- Username -->
						<td>
							<div class="hideOverflow" style="max-width:400px;">{{user.username}}</div>
						</td>

						<!-- Active -->
						<td>
							<div class="hideOverflow" style="max-width:50px;">
								<i class="fa fa-fw fa-check-square-o" disabled
								   data-ng-class="{'fa-check-square-o': userState[user._id].active, 'fa-square-o': !userState[user._id].active }"></i>
							</div>
						</td>

						<!-- Bypass -->
						<td>
							<div class="hideOverflow" style="max-width:50px;">
								<i class="fa fa-fw fa-check-square-o" disabled
								   data-ng-class="{'fa-check-square-o': user.bypassAccessCheck, 'fa-square-o': !user.bypassAccessCheck }"></i>
							</div>
						</td>

						<!-- Role Buttons -->
						<td style="width:375px;">
							<div class="pull-left">

								<div class="btn-group btn-group-sm" role="group">
									<button type="button" class="btn btn-sm"
									        data-ng-repeat="role in roles.array" 
									        data-ng-class="{ 'btn-selected': user.groups[0].roles[role.role], 'btn-unselected': !user.groups[0].roles[role.role] }"
									        data-ng-attr-title="{{role.description}}"
									        data-ng-click="toggleRole(user, role.role)">
										<i class="fa fa-fw" 
										   data-ng-class="{ 'fa-check-square-o': user.groups[0].roles[role.role], 'fa-square-o': !user.groups[0].roles[role.role] }"></i>
										{{role.label}}
									</button>
								</div>

							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</section>