.loading-animation {
	z-index: 10;
	opacity: 0.6;
	position: absolute;
	width: 100%;
	background-color: white;
	padding-top: 5px;
}

.loading-animation span {
	vertical-align: bottom;
	padding: 5px;
}

.loading-animation i {
	font-size: 125%;
}
