
<section data-ng-class="{container:!preview, 'modal-body':preview}">

	<div class="row">

		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<h2>End User Agreement (EUA)<br/><small>Please review and acknowledge the end user agreement</small></h2>
			</div>

			<!-- Alert Notifications -->
			<div class="word-wrap" data-alert data-ng-repeat="alert in alertService.alerts" data-type="{{alert.type}}" data-close="alertService.clear($index)">{{alert.msg}}</div>

			<form name="userForm" autocomplete="off" class="form-horizontal" role="form">

				<div class="panel panel-default word-wrap">
					<div class="panel-heading">
						<h3 class="panel-title">{{eua.title}}</h3>
					</div>

					<!-- Contents of EUA -->
					<div class="panel-body" data-ng-bind-html="eua.text"></div>

					<div class="panel-footer" ng-hide="preview">
						<div class="checkbox"><label><input type="checkbox" data-ng-model="agree">I have read and acknowledge the end user agreement (EUA)</label></div>
					</div>
				</div>

				<button type="submit" class="btn btn-default" data-ng-disabled="!agree" data-ng-click="accept()" ng-hide="preview">Submit Acknowledgement</button>
				<div class="modal-footer" ng-show="preview">
					<button class="btn btn-default" data-ng-click="$close()">Close</button>
				</div>
			</form>

		</div>

	</div>

</section>