
/*------------------------*/
/* Navigation Bar		 */
/*------------------------*/
.navbar-asymmetrik {
	border-color: #aaa;
}
.navbar-asymmetrik.navbar-inverse .navbar-toggle {
	border-color: #444;
	color: #ccc;
}

.navbar-asymmetrik .navbar-container {
	padding-left: 30px;
	padding-right: 30px;
}

img.logo {
	margin: 10px 40px 0 0;
}

/*------------------------*/
/*	Back Links			  */
/*------------------------*/
a.back-link {
	font-size: 12px;
	color: #999;
}
a.back-link:hover {
	color: #111;
}


/*------------------------*/
/* Content Area		   */
/*------------------------*/
.content {
	padding: 80px 40px 40px 40px; 
}


/*------------------------*/
/* Footer				 */
/*------------------------*/
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
}


/*------------------------*/
/* Footer				 */
/*------------------------*/
.classification {
	text-align: center;
}

.classification-U {
	background-color: #080;
	color: white;
}
.classification-S {
	background-color: #800;
	color: white;
}
.classification-K {
	background-color: #f5ae07;
	color: white;
}
.copyright {
	text-align: center;
	font-size: 12px;
	color: #bbb;
	background-color: #222;
	padding: 2px;
}

/* ---------------------- */
/* Bootstrap			  */
/* ---------------------- */
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-touched{
	border-color:#FA787E;
}
