<section>

	<h3 class="page-header">
		Cache Entries
		<small>Administer Cache Entries</small>
	</h3>

	<!-- Alert Notifications -->
	<div data-alert data-ng-repeat="alert in alertService.alerts" data-type="{{alert.type}}" data-close="alertService.clear($index)">{{alert.msg}}</div>

	<div class="row">
		<div class="col-md-12">

			<!-- Search Input -->
			<div class="input-group">
				<input placeholder="Search key and value..." type="text" class="form-control input-sm" data-ng-model="search" data-ng-keypress="applySearchKeypress($event)">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button" data-ng-click="applySearch()">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<!-- Sorting/Paging Controls -->
			<div data-ng-show="results.totalSize > 0">
				<div class="controls">
					<div class="paging-sort" style="float:left;">
						<span>Sort By:</span>
						<a type="button" data-ng-class="{selected: options.sort===sort.key}" class="no-href btn-link" data-ng-click="setSort(sort.key)">Key</a> /
						<a type="button" data-ng-class="{selected: options.sort===sort.timestamp}" class="no-href btn-link" data-ng-click="setSort(sort.timestamp)">Timestamp</a>
					</div>
					<div class="paging-controls pull-right">
						<div data-asy-pager
							 data-page-number="results.pageNumber"
							 data-page-size="results.pageSize"
							 data-total-size="results.totalSize"
							 data-max-page-size="50"
							 data-current-size="cacheEntries.length"
							 data-on-change="goToPage(pageNumber)"
						></div>
					</div>
				</div>
				<br style="clear:both;"/>
			</div>

		</div>
	</div>

	<div class="row" data-ng-show="results.resolved">
		<div class="col-md-12">

			<!-- Actual results -->
			<table class="asymmetrik table table-condensed table-hover table-striped" data-ng-show="results.totalSize > 0">
				<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
					<th>Timestamp</th>
					<th>&nbsp;</th>
				</tr>
				</thead>

				<tbody>
				<tr data-ng-repeat="cacheEntry in cacheEntries track by cacheEntry._id">
					<td>{{cacheEntry.key}}</td>
					<td class="hideOverflow" style="max-width: 300px;">{{cacheEntry.value | json}}</td>
					<td><span data-ng-attr-title="{{cacheEntry.ts | date:'yyyy-MM-dd HH:mm:ss \'Z\'':'UTC'}}">{{cacheEntry.ts | agoDateFilter}} ago</span></td>
					<td style="width: 120px;">
						<div class="pull-right">
							<button title="View Value" type="button" class="btn btn-default btn-sm" data-ng-click="viewCacheEntry(cacheEntry)"><span class="fa fa-eye"></span></button>
							<button title="Refresh Entry" type="button" class="btn btn-default btn-sm" data-ng-disabled="cacheEntry.isRefreshing" data-ng-click="refreshCacheEntry(cacheEntry)"><span class="fa fa-refresh"></span></button>
							<button title="Delete Entry" type="button" class="btn btn-danger btn-sm" data-ng-click="deleteCacheEntry(cacheEntry)"><span class="fa fa-trash-o"></span></button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>

			<div class="col-md-6 col-md-offset-3 center" data-ng-hide="results.totalSize > 0">
				<h3>
					<small>No Cache Entries matched your search</small>
				</h3>
			</div>

		</div>
	</div>

</section>