
<section class="container">

	<alert ng-repeat="alert in alertService.alerts" type="{{alert.type}}" close="alertService.clear($index)">{{alert.msg}}</alert>

	<form novalidate name="userForm" autocomplete="off" class="form-horizontal" role="form">

		<div class="page-header">
			<h3>
				{{title}}
				<small>{{subtitle}}</small>
			</h3>
		</div>


		<!-- Basic Information -->
		<div class="form-group row">
			<label class="col-md-2 control-label" for="name">Name<span class="text-danger"><strong> *</strong></span></label>
			<div class="col-md-10"><input type="text" class="form-control" id="name" data-ng-model="user.name" required /></div>
		</div>
		<div class="form-group row">
			<label class="col-md-2 control-label" for="email">Email<span class="text-danger"><strong> *</strong></span></label>
			<div class="col-md-10"><input type="email" class="form-control" id="email" data-ng-model="user.email" required /></div>
		</div>


		<!-- Local Login Information -->
		<div data-ng-show="config.auth === 'local'">

			<div class="form-group row">
				<label class="col-md-2 control-label" for="username">Username<span class="text-danger"><strong> *</strong></span></label>
				<div class="col-md-10"><input type="text" id="username" class="form-control" data-ng-model="user.username" required /></div>
			</div>

			<div class="page-header">
				<h3>
					Password
					<small>At least 6 characters. <span data-ng-show="mode === 'edit' || mode === 'admin-edit'">Leave blank if you do not want to change the password.</span></small>
				</h3>
			</div>

			<!-- Current password is needed if you aren't an admin and you're editing -->
			<div class="form-group row" data-ng-show="mode === 'edit'">
				<label class="col-md-2 control-label" for="currentPassword">Current Password</label>
				<div class="col-md-10"><input type="password" class="form-control" id="currentPassword" data-ng-model="user.currentPassword"></div>
			</div>

			<div class="form-group row">
				<label class="col-md-2 control-label" for="password">New Password</label>
				<div class="col-md-10"><input type="password" class="form-control" id="password" data-ng-model="user.password"></div>
			</div>
			<div class="form-group row">
				<label class="col-md-2 control-label" for="password2">Re-enter</label>
				<div class="col-md-10"><input type="password" id="password2" class="form-control" id="verifyPassword" data-ng-model="user.verifyPassword"></div>
			</div>

		</div>



		<!-- PKI Login Information -->
		<div data-ng-show="config.auth === 'proxy-pki'">

			<div class="form-group" data-ng-show="mode === 'admin-edit' || mode === 'admin-create'">
				<label class="col-md-2 control-label" for="dn">User Cert DN</label>
				<div class="col-md-10"><input type="text" class="form-control" id="description" data-ng-model="user.username"></div>
			</div>

		</div>



		<!-- Admin only stuff -->
		<div data-ng-show="mode === 'admin-edit' || mode === 'admin-create'">

			<div class="form-group">
				<label class="col-md-2 control-label">Roles</label>

				<div class="col-md-10 btn-group">
					<button data-ng-repeat="role in roles.array" 
							type="button" class="btn" 
							data-ng-class="{ 'btn-selected': user.roles[role.role], 'btn-unselected': !user.roles[role.role] }" data-ng-attr-title="{{role.description}}" 
							data-btn-checkbox data-ng-model="user.roles[role.role]">
						<i class="fa fa-fw" data-ng-class="{ 'fa-check-square-o': user.roles[role.role], 'fa-square-o': !user.roles[role.role] }"></i>
						{{role.label}}
					</button>
				</div>

			</div>

		</div>


		<div class="form-group row" data-ng-show="error">
			<div class="col-md-offset-2 col-md-10">
				<div class="text-danger">
					<strong>{{error}}</strong>
				</div>
			</div>
		</div>


		<div class="form-group row">
			<div class="col-md-12">
				<div class="pull-right">
					<button type="submit" class="btn btn-default" data-ng-click="okAction()">{{okButtonText}}</button>
					<a type="button" class="btn btn-link" data-ng-show="mode === 'signup'" data-ui-sref="auth.signin">or Sign In</a>
					<a type="button" class="btn btn-link" data-ng-show="mode === 'admin-create' || mode === 'admin-edit'" data-ui-sref="admin.user.list">Cancel</a>
				</div>
			</div>
		</div>

	</form>

</section>