<section>

	<h3 class="page-header">
		Notifications
		<small>Manage notification preferences</small>
	</h3>

	<!--
		Toggle Options for Alerts, Streams, Groups, etc. go here that would change the $scope.currentNotificationType field
	-->

	<div class="row">
		<div class="col-md-12">

			<!-- Sorting/Paging Controls -->
			<div data-ng-show="results.totalSize > 0">
				<div class="controls pull-right">
					<div data-asy-pager
						 data-page-number="results.pageNumber"
						 data-page-size="results.pageSize"
						 data-total-size="results.totalSize"
						 data-max-page-size="options.pageSize"
						 data-current-size="notificationPreferences.length"
						 data-on-change="goToPage(pageNumber)"
						 data-show-sorting-controls="false"
					></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" data-ng-show="results.resolved">
	
		<div class="col-md-12" data-ng-show="currentNotificationType === 'alert'">

			<!-- Actual results -->
			<table class="asymmetrik table table-condensed table-hover table-striped" data-ng-show="results.totalSize > 0">
				<thead>
					<tr>
						<th>Alert</th>
						<th>Stream</th>
						<th></th>
						<th>Notifications</th>
					</tr>
				</thead>
	
				<tbody>
					<tr data-ng-repeat="pref in notificationPreferences">
						
						<td class="valign-top">
							<div class="hideOverflow">
								<div><strong>
									<a data-ui-sref="stream.activity({streamId: pref.stream._id})">{{pref.stream.title}}</a>
								</strong></div>
								<div>
									<div>{{pref.stream.description}}</div>
									<div class="hideOverflow stream-criteria">
										<div data-wf-boolean-query="pref.stream.criteria.terms" data-wf-readonly="true"></div>
									</div>
									<div data-ng-show="pref.stream.criteria.ffu" class="stream-criteria ffu">
										<i class="fa fa-paperclip"> Includes File Attachment/URL</i>
									</div>
								</div>
							</div>
						</td>

						<td class="valign-top">
							<a data-ui-sref="stream.view({streamId: pref.stream.parent})">{{ $parent.results.streamMap[pref.stream.parent].title }}</a>
						</td>
						
						<td class="valign-top">
							<div class="hideOverflow" style="max-width:200px;">
								<strong>{{pref.title}}</strong>
							</div>
							<div data-ng-repeat="(key, value) in alertVolumeSensitivities" class="alert-criteria">
								<span data-ng-show="value.binSize == pref.criteria.volume.binSize &&
													value.windowSize == pref.criteria.volume.windowSize &&
													value.correlationThreshold == pref.criteria.volume.correlationThreshold">
									{{key | uppercase}} Sensitivity
								</span>
							</div>
							<div data-ng-show="hasTotalCountThreshold(pref)" class="alert-criteria">
								<span data-ng-pluralize
								      count="pref.criteria.volume.totalCountThreshold"
								      when="{'one': '1 time', 'other': '{} times'}"></span>
								in
								<span data-ng-pluralize
								      count="pref.criteria.volume.windowSize / 60"
								      when="{'one': '1 minute', 'other': '{} minutes'}"
								      data-ng-show="pref.criteria.volume.windowSize >= 60"></span>
								<span data-ng-pluralize
								      count="pref.criteria.volume.windowSize"
								      when="{'one': '1 second', 'other': '{} seconds'}"
								      data-ng-hide="pref.criteria.volume.windowSize >= 60"></span>
							</div>
						</td>
						
						<!-- Toggle Preference Buttons -->
						<td style="width:300px;">
							<div class="pull-left">

								<div class="btn-group btn-group-sm">
									<button data-ng-repeat="option in notificationOptions" type="button" class="btn btn-sm" 
											data-ng-class="{ 'btn-selected': pref.notificationPreferences[option.type], 'btn-unselected': !pref.notificationPreferences[option.type] }" data-ng-attr-title="{{option.display}} Notification" 
											data-ng-click="toggleNotificationPreference(pref._id, option.type)">
										<i class="fa fa-fw" data-ng-class="{ 'fa-check-square-o': pref.notificationPreferences[option.type], 'fa-square-o': !pref.notificationPreferences[option.type] }"></i>
										{{option.display}}
									</button>
								</div>

							</div>
						</td>
						
					</tr>
				</tbody>
			</table>
	
			<div class="col-md-6 col-md-offset-3 center" data-ng-hide="results.totalSize > 0">
				<h4>
					No Notification Preferences?<br/>
					<small>
						Either there were no Notification Preferences that matched your search or you don't have access to any Notifications yet.<br/>
						Read our <a data-ui-sref="help.overview">getting started page</a> for more details.
					</small>
				</h4>
			</div>
		</div>
	</div>

</section>